<div>
  <h1>IP Portfolio</h1>
  <a routerLink="/books/add">Add New Book</a>
  <div *ngIf="error" class="error">{{ error }}</div>
  <div *ngIf="books$ | async as books; else loading">
    <div *ngIf="books.length > 0; else noBooks">
      <ul>
        <li *ngFor="let book of books">
          <a [routerLink]="['/books/edit', book.id]">{{ book.title }}</a> by {{ book.author }}
          <button (click)="deleteBook(book.id)">Delete</button>
        </li>
      </ul>
    </div>
    <ng-template #noBooks>
      <p>No books found.</p>
    </ng-template>
  </div>
  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>
</div>