name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-test-api:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '8.x'
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Test
      run: dotnet test --no-restore --verbosity normal
    - name: Publish
      run: dotnet publish -c Release -o '${{ github.workspace }}/api-publish'

  build-frontend:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '20.x'
    - name: Install dependencies
      run: npm install
      working-directory: apps/ui-react
    - name: Build
      run: npm run build
      working-directory: apps/ui-react
    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: frontend-build
        path: apps/ui-react/dist

  deploy-api:
    runs-on: ubuntu-latest
    needs: build-and-test-api
    if: github.event_name == 'workflow_dispatch'
    steps:
    - name: 'Login via Azure CLI'
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    - name: 'Deploy to Azure Web App'
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'PublishingTrackerApi'
        package: '${{ github.workspace }}/api-publish'

  deploy-frontend:
    runs-on: ubuntu-latest
    needs: build-frontend
    if: github.event_name == 'workflow_dispatch'
    steps:
    - name: Download artifact
      uses: actions/download-artifact@v2
      with:
        name: frontend-build
        path: frontend-build
    - name: 'Login via Azure CLI'
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    - name: 'Deploy to Azure Web App'
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'PublishingTrackerUI2'
        package: 'frontend-build'
